<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/icons/mordhauico.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/mordhau.css}">
</head>
<body>
<nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <ul>
        <li><a th:href="@{/}">Mordhau</a></li>
        <li><a th:href="@{/swords}">Sword Shop</a></li>
        <li><a th:href="@{/os}">Operating System</a></li>
        <li><a th:href="@{/colors}">Colors</a></li>
        <li><a th:href="@{/swords/prices}">Prices</a></li>
    </ul>
</nav>
</body>
</html>