<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Sword\'s for sale')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Official sword shop</h1>
<ul class="zebra">
    <li th:each="sword:${swords}" th:object="${sword}">
        <span th:text="|*{name} ('&euro;' *{price})|"></span>
        <span th:if="*{twohanded}">Two handed weapon</span>
    </li>
</ul>
<img th:src="@{/images/mordhau2.jfif}" alt="Mordhau guy">
</body>
</html>