<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MordhauProject</title>
    <link rel="icon" href="icons/mordhauico.ico" type=\"image/x-icon\">
    <link rel="stylesheet" href="css/mordhau.css">
</head>
<body>
<h1>Official sword shop</h1>
<ul class="zebra">
    <li th:each="sword:${swords}" th:object="${sword}">
        <span th:text="|*{name} ('&euro;' *{price})|"></span>
        <span th:if="*{twohanded}">Two handed weapon</span>
    </li>
</ul>
<img src="images/mordhau2.jfif" alt="index pic">
</body>
</html>